table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
footer {
    display: none;
}
/* English: page breaks for TBH */
#choose-a-class,
#armor-proficiency + p + table,
#converting-saves,
#attacking-defending-damage,
#healing,
#gaining-levels,
#banishing-undead,
#warrior, #thief, #cleric, #conjurer,
#spellcasting,
#daily-conjurer-spells,
#divine-spells, #arcane-spells,
#arcane-spells ~ table,
#example-of-play {
    page-break-before: always;
}

/* French: page breaks for TBH */
#choisir-une-classe,
#competence-d-armure + p + table,
#conversion-des-jets-de-sauvegarde,
#dv-des-monstres,
#encombrement,
#bannir-les-morts-vivants,
#guerrier, #voleur, #clerc, #conjureur,
#lancement-de-sorts, #sorts-quotidiens-du-conjureur,
#sorts-divins, #sorts-d-arcane,
#sorts-d-arcane ~ table,
#exemple-de-jeu {
    page-break-before: always;
}

/* Spanish (castellano) page breaks for TBH */
#entrenamiento-con-armadura,
#movimiento-distancia,
#muerte,
#descansar,
#reacciones-de-las-criaturas,
#objetos-magicos,
#guerrero, #ladron, #clerigo, #hechicero,
#conjuros-y-hechizos,
#conjuros-divinos_1, #conjuros-arcanos_1,
#conjuros-arcanos_1 ~ table {
  page-break-before: always;
}

/* Portuguese (Brazilian) page breaks for TBH */
#escolha-uma-classe,
#convertendo-jogadas-de-protecao,
#dv-de-um-monstro,
#ganhando-niveis,
#banir-mortos-vivos,
#guerreiro, #ladrao, #clerigo, #conjurador,
#conjuracao,
#magias-arcanas-diarias,
#magias-divinas, #magias-arcanas,
#magias-arcanas ~ table {
  page-break-before: always;
}

/* Italian page breaks for TBH */
#scegliere-una-classe,
#utilizzo-dell-armatura,
#convertire-i-tiri-salvezza,
#attaccare-difendersi-e-danni,
#avversari-potenti,
#dadi-utilizzo,
#guerriero, #ladro, #chierico, #mago,
#lancio-incantesimi,
#incantesimi-giornalieri-del-chierico,
#incantesimi-divini, #incantesimi-arcani,
#incantesimi-arcani ~ table,
#esempio-di-gioco {
  page-break-before: always;
}

/* Japanese page breaks for TBH */
#zhuang-jia-zhi,
#sebunobian-huan,
#monsutanohd,
#si-tosi-wang-guo-cheng,
#jing-yan,
#uoria, #sihu, #kurerituku, #konziyara,
#zhou-wen-noyong-chang,
#konziyara1ri-atarinozhou-wen,
#shen-sheng-zhou-wen, #mi-yi-zhou-wen,
#mi-yi-zhou-wen ~ table,
#pureinoli {
  page-break-before: always;
}

/* Korean page breaks for TBH */
#jigeob-goreugi,
#seongong,
#jim,
#eondedeu-cubang,
#jeonsa, #dojeog, #seongjigja, #mabeobsa,
#jumun-sijeon,
#ilil-mabeobsa-jumun-seulros,
#monseuteo-mogrog,
#peulrei-yeje {
  page-break-before: always;
}

/* German page breaks for TBH */
#rustungsfahigkeit,
#rettungswurfe,
#tw-fur-monster,
#tod-sterben,
#verhalten-von-wesen,
#erfahrung,
#magische-gegenstande,
#krieger, #dieb, #kleriker, #zauberer,
#zauberspruche,
#tagliche-spruche-fur-kleriker,
#gottliche-anrufungen_1, #arkane-zauberformeln_1,
#arkane-zauberformeln_1 ~ table,
#spielbeispiel {
    page-break-before: always;
}
